$maxWidth: 1440px;
$navigationItemSize: 3.5rem;
$navigationHeight: $navigationItemSize + 0.5rem;
$headerHeight: 2rem;

.RootLayout {
  height: 100dvh;
  overflow: hidden;
  background: var(--background);

  display: flex;
  flex-direction: column;
  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: scroll;
    padding-bottom: 0.5rem;
  }
}

.Header {
  height: $headerHeight;
  flex-shrink: 0;
  background: var(--background-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navigation {
  height: $navigationHeight;
  flex-shrink: 0;

  // background: color-mix(in srgb, var(--background-secondary) 85%, transparent);
  background: var(--background-secondary);
  border-top: 1px solid var(--border);
  backdrop-filter: blur(0.5rem);

  display: flex;
  justify-content: space-evenly;

  .NavigationItem {
    height: $navigationItemSize;
    width: $navigationItemSize;

    color: var(--foreground-secondary);
    font-size: 12px;
    &[data-active="true"] {
      color: var(--accent);
    }

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.25rem;

    position: relative;
    .indicator {
      height: 1px;

      background: var(--accent);

      position: absolute;
      inset: 0 0 auto 0;
    }
  }
}
