.Input {
  height: 2.5rem;
  background: var(--interactive);
  border-radius: var(--radius-sm);

  display: flex;
  align-items: center;
  gap: 0.675rem;
  padding: 0 0.675rem;

  input {
    height: 100%;
    width: 100%;
    &::placeholder {
      color: var(--foreground-secondary);
    }

    &[type="number"] {
      text-align: right;
    }
  }

  svg {
    color: var(--foreground-secondary);
    $size: 20px;
    width: $size;
    height: $size;
  }

  button {
    display: inline-flex;
    $size: 18px;
    width: $size;
    height: $size;
  }

  transition: box-shadow 0.2s ease;
  box-shadow: 0 0 0 1px transparent;
  &:focus-within {
    box-shadow: 0 0 0 1px var(--accent);
  }
}
