@use "./normalize.scss";
@use "./typography.scss";

:root {
  --radius-sm: 0.625rem;

  --lvl-1: 100;

  --accent: #ff5e00;
  --accent-hover: #cc4000;
  --accent-muted: #fff0e6;
  --accent-foreground: #ffffff;

  --background: #f2f2f2;
  --background-secondary: #ffffff;
  --surface: #e0e0e0;

  --foreground: #0a0a0a;
  --foreground-secondary: #6b6b6b;

  --border: #e1e1e1;
  --border-subtle: #e0e0e0;

  --interactive: #d9d9d9;
  --interactive-hover: #c0c0c0;

  --shadow: #0a0a0a;
}

body {
  background: var(--background-secondary);
  color: var(--foreground);
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;

  user-select: none;
  -webkit-user-select: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
