@use "./normalize.scss";
@use "./typography.scss";

:root {
  --radius-sm: 0.625rem;

  --lvl-1: 10;
  --lvl-2: 20;

  --accent: #203ffc;
  --accent-hover: #cc4000;
  --accent-muted: #fff0e6;
  --accent-foreground: #ffffff;

  --background: #f2f2f2;
  --background-secondary: #ffffff;
  --surface: #f1f1f1;

  --foreground: #181818;
  --foreground-secondary: #a4a4a4;

  --border: #e1e1e1;
  --border-subtle: #f1f1f1;

  --interactive: #f2f2f2;
  --interactive-hover: #c0c0c0;

  --shadow: #0a0a0a;
}

body {
  background: var(--background-secondary);
  color: var(--foreground);
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;

  user-select: none;
  -webkit-user-select: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
