* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

svg {
    flex-shrink: 0;
}

ul {
    list-style: none;
}

input,
button,
textarea {
    border: none;
    outline: none;
    background: transparent;
    font-size: inherit;
    color: inherit;
}

button {
    cursor: pointer;
}

/* Edge / IE */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

/* Chrome (иногда работает, но не всегда стабильно) */
input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}

/* Safari / Chrome (новые версии могут игнорить) */
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-password-toggle-button {
    display: none;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}
