$triggerHeight: 2.25rem;
$contentPadding: 0.25rem;

.SelectContent {
    background: var(--background-secondary);
    border: 1px solid var(--border);
    padding: 0.25rem;
    border-radius: var(--radius-sm);

    &.popper {
        width: 20rem;
    }
}

.SelectTrigger {
    width: 400px;
    height: $triggerHeight;
    border-radius: var(--radius-sm);
    background: var(--interactive);
    display: flex;
    align-items: center;
    gap: 0.5rem;

    span {
        flex-grow: 1;
        text-align: left;
    }

    &[data-placeholder] {
        color: var(--foreground-secondary);
    }

    padding: 0.625rem;
}

.SelectItem {
    height: 2rem;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    outline: none;

    &[data-disabled] {
        color: var(--foreground-secondary);
        pointer-events: none;
    }

    &:hover {
        background-color: var(--interactive);
    }

    svg {
        color: var(--accent);
    }

    border-radius: calc(var(--radius-sm) - $contentPadding);
}
