.Section {
  width: min(1280px, 100%);
  margin: 0 auto;
  background: var(--background-secondary);
  border-radius: 1.5rem;
  padding: 1rem;

  &:first-child {
    border-radius: 0 0 1.5rem 1.5rem;
  }
}

.SectionTitle {
  margin-bottom: 1rem;
  display: block;
}
