.AccountsList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .container {
    display: flex;
    flex-direction: column;
  }
}

.AccountsListItem {
  background: var(--background-secondary);
  box-shadow: 0 8px 32px -12px color-mix(in srgb, var(--shadow) 12%, transparent);
  border-radius: 1.5rem;
  aspect-ratio: 2/1;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .title {
      font-size: 1.25rem;
      font-weight: 500;

      width: min(70%, 16rem);
      white-space: nowrap;
      overflow: hidden;

      position: relative;
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        height: 100%;
        width: 2rem;
        background: linear-gradient(-90deg, var(--background-secondary), transparent);
      }
    }
  }

  .footer {
    color: var(--foreground-secondary);
    font-size: 14px;
  }
}
