.AccountsList {
  padding-inline: unset !important;
}

.AccountsListItem {
  background: url("/card-background.png") var(--background-secondary);
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  padding: 1.25rem;
  box-shadow: 0 8px 28px -12px color-mix(in srgb, var(--shadow) 24%, transparent);

  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .title {
      width: 60%;
      overflow: hidden;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

.AccountsListItem,
.CreateAccountButton {
  border-radius: 1.5rem;
  aspect-ratio: 2/1;
  display: flex;
  flex-direction: column;
}

.CreateAccountButton {
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  background: var(--interactive);
  color: var(--accent);

  .icon {
    width: 3rem;
    aspect-ratio: 1;
    background: color-mix(in srgb, var(--accent) 10%, transparent);
    color: var(--accent);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
